h1 {
    font-family: 'Ubuntu', sans-serif;
}

img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.photo-frame {
    border-radius: 15px;
    box-sizing: content-box;    
    margin: 1%;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
    box-shadow: 0px 3px 49px -5px rgba(0,0,0,0.75);
}

.transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease-in-out;
}

.transparent-loader {
    height: 100%;
    width: 100%; 
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease-in-out;
}

.photo-info {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.photo-info > p:nth-child(2) {
    font-size: 0.9em;
}

.photo-options {
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0.0;
    width: 90%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.photo-options i {
    font-size: 3rem;
    cursor: pointer;
}

.photo-frame:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
}

.photo-frame:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.photo-frame:hover .photo-info {
    transform: translateY(-20px);
    opacity: 1.0;
}

.photo-frame:hover .photo-options {
    transform: translateY(20px);
    opacity: 1.0;
}

.favorite {
    color: red !important;
}

.transparent-loader {
    position: absolute;    
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 9999;
    text-align: center;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-loading {
    opacity: 0;
}

.background-loading {
    background-color: black;
    width: 350px; 
    height: 250px;
}

.photo-holder {
    width: 350px; 
    height: 250px;
}

.gradient {
    width: 100%; 
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: all 0.5s linear;
    opacity: 1;
    background: linear-gradient(90deg, rgb(233, 248, 247) 0%, rgba(9,121,105,1) 32%, rgba(0,212,255,1) 100%);        
}

.animate
{
	transition: all 0.1s;
}

.action-button
{
	position: relative;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	color: #FFF;
    text-decoration: none;	
    height: 50px;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.green
{
	background-color: #3f8e07;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.gray
{
	background-color: rgb(90, 90, 88);
	border-bottom: 5px solid rgb(136, 133, 121);
	text-shadow: 0px -2px rgb(136, 133, 121);
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}